In [ ]:
# Dataset: Natural Language to Python Code
# Source: Link An Jarad. (2022). Natural Language to Python Code [Data set]. Kaggle. https://doi.org/10.34740/KAGGLE/DSV/3512475
# URL: https://www.kaggle.com/datasets/linkanjarad/coding-problems-and-solution-python-code
# Description: Link An Jarad (2022) developed this data set to generate python code
# from Natural Language Text with code functionality descriptions.

In [1]:
import pandas as pd

In [5]:
df_raw = pd.read_csv('../data/raw/Kaggel/ProblemSolutionPythonV3.csv')

df_raw.head(5)

,Unnamed: 0,Problem,Python Code
0,0,Write a NumPy program to repeat elements of an array.,"import numpy as np\rx = np.repeat(3, 4)\rprint(x)\rx = np.array([[1,2],[3,4]])\rprint(np.repeat(x, 2))\r"
1,1,Write a Python function to create and print a list where the values are square of numbers between 1 and 30 (both included).,"def printValues():\n\tl = list()\n\tfor i in range(1,31):\n\t\tl.append(i**2)\n\tprint(l)\n\t\t\nprintValues()\n"
2,2,Write a Python program to remove duplicates from a list of lists.,"import itertools\rnum = [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]\rprint(""Original List"", num)\rnum.sort()\rnew_num = list(num for num,_ in itertools.groupby(num))\rprint(""New List"", new_num)\r"
3,3,Write a NumPy program to compute the x and y coordinates for points on a sine curve and plot the points using matplotlib.,"import numpy as np\rimport matplotlib.pyplot as plt\r# Compute the x and y coordinates for points on a sine curve\rx = np.arange(0, 3 * np.pi, 0.2)\ry = np.sin(x)\rprint(""Plot the points using matplotlib:"")\rplt.plot(x, y)\rplt.show()\r"
4,4,Write a Python program to alter a given SQLite table.,"import sqlite3\rfrom sqlite3 import Error\rdef sql_connection():\r try:\r conn = sqlite3.connect('mydatabase.db')\r return conn\r except Error:\r print(Error)\rdef sql_table(conn):\r cursorObj = conn.cursor()\r cursorObj.execute(""CREATE TABLE agent_master(agent_code char(6),agent_name char(40),working_area char(35),commission decimal(10,2),phone_no char(15) NULL);"")\r print(""\nagent_master file has created."")\r \r # adding a new column in the agent_master table\r cursorObj.execute(""""""\r ALTER TABLE agent_master\r ADD COLUMN FLAG BOOLEAN;\r """""")\r print(""\nagent_master file altered."")\r conn.commit()\r \rsqllite_conn = sql_connection()\rsql_table(sqllite_conn)\rif (sqllite_conn):\r sqllite_conn.close()\r print(""\nThe SQLite connection is closed."")\r"